:root{
    --GreenPrimary200lighter: hsl(148, 38%, 91%);
    --GreenPrimary600medium: hsl(169, 82%, 27%);
    --RedPrimary: hsl(0, 66%, 54%);
    --WhiteNeutral: hsl(0, 0%, 100%);
    --Greyeutral500medium: hsl(186, 15%, 59%);
    --Greyeutral900darker: hsl(187, 24%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: var(--GreenPrimary200lighter);
    font-family: 'karla', monospace;
}

section{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,5%);
    height: 5em;
    width: 16.25em;
    background-color: var(--Greyeutral900darker);
    z-index: 1000;
    border-radius: 0.625em;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    color: var(--WhiteNeutral);
    visibility: hidden;
}

.head{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.625em;
}

.success .head p{
    font-size: 1em;
}

.success p{
    font-size: 9px;
}

form{
    position: absolute;
    transform: translate(-50%,4%);
    left: 50%;
    /* top: 1%; */
    width: 16.25em;
    height: 49.69em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--WhiteNeutral);
    /* gap: 10px; */
    padding: 1.25em 1.125em 1.125em 1.125em;
}

.form-group-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 5px; */
    padding-top: 1.5em;
}

.first-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.last-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.3125em;
}

.email-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    padding-top: 0.5em;
}

.query{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    padding-top: 0.5em;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;

}

.btn-general-enquiry{
    background-color: var(--WhiteNeutral);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.125em;
    width: 100%;
    font-size: 1em;
    font-family: 'karla';
    border: 0.0625em solid var(--Greyeutral500medium);
    border-radius: 0.3125em;
    padding-left: 0.625em;
}

.btn-support-request{
    background-color: var(--WhiteNeutral);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.125em;
    width: 100%;
    font-size: 1em;
    font-family: 'karla';
    border: 0.0625em solid var(--Greyeutral500medium);
    border-radius: 0.3125em;
    padding-left: 0.625em;
}

.message-textArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
}

#first-name,
#last-name,
#email
{
    height: 2.5em;
    border: 0.0625em solid var(--Greyeutral500medium);
    border-radius: 0.3125em;
    cursor: pointer;
}

#general-enquiry,
#support-request{
    height: 2.5em;

}

.consent-error{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.consent{
    display: flex;
    gap: 15px;
}

.btnSubmit{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--GreenPrimary600medium);
    color: var(--WhiteNeutral);
    font-size: 0.94em;
    font-family: 'karla';
    cursor: pointer;
}

#message{
    height: 10.9375em;
    border-radius: 0.3125em;
    resize: none;
}

#general-enquiry,
#support-request{
    cursor: pointer;
}

.required{
    color: var(--GreenPrimary600medium);
}

.error-required{
    /* visibility: hidden; */
    color: var(--RedPrimary);
}



.error-email{
    /* visibility: hidden; */
    color: var(--RedPrimary);
}

label{
    font-size: 0.6875em;
}

span{
    font-size: 0.6875em;
}

.btnContainer label{
    font-size:  0.875em;
}

input[type="checkbox"]{
    cursor: pointer;
}

@media (min-width:48em){
    section{
        width: 24.69em;
        height: 5.94em;
        margin-top: 2.5em;
        padding: 1.4375em;
    }

    form{
        margin-top: 6.875em;
        width: 40.2em;
        height: 44.375em;
        padding-top: 2.5em;
        padding-right: 2.1875em;
        padding-bottom: 2em;
        padding-left: 2.1875em;
    }

    .form-group-name{
        flex-direction: row;
        gap: 0.9375em;
    }

    .first-name{
        gap: 0.625em;
    }

    .last-name{
        gap: 0.625em;
        padding: 0;
    }

    .btnContainer{
        flex-direction: row;
        gap: 0.9375em;
    }

    .success p{
    font-size: 0.8125em;
    }

    #message{
        height: 5.625em;
    }

    .email-group{
        padding-top: 20px;
        gap: 10px;
    }

    .query{
        padding-top: 1.25em;
        gap: 0.625em;
    }

    .message-textArea{
        padding-top: 1.25em;
        gap: 0.625em;
    }

    .consent-error{
        padding: 1.5625em 0;
        gap: 0.3125em;
    }


}