:root{
    --GreenPrimary200lighter: hsl(148, 38%, 91%);
    --GreenPrimary600medium: hsl(169, 82%, 27%);
    --RedPrimary: hsl(0, 66%, 54%);
    --WhiteNeutral: hsl(0, 0%, 100%);
    --Greyeutral500medium: hsl(186, 15%, 59%);
    --Greyeutral900darker: hsl(187, 24%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: var(--GreenPrimary200lighter);
    font-family: 'karla', monospace;
}

section{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,10%);
    height: 60px;
    width: 260px;
    background-color: var(--Greyeutral900darker);
    z-index: 1000;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--WhiteNeutral);
}

.head{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.success .head p{
    font-size: 16px;
}

.success p{
    font-size: 9px;
}

form{
    position: absolute;
    transform: translate(-50%,5%);
    left: 50%;
    /* top: 1%; */
    width: 16.25em;
    height: 49.69em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--WhiteNeutral);
    /* gap: 10px; */
    padding: 20px 18px 18px 18px;
}

.form-group-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 5px; */
    padding-top: 25px;
}

.first-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.last-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.query{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    
}

.btn-general-enquiry{
    background-color: var(--WhiteNeutral);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 16px;
    font-family: 'karla';
    border: 1px solid var(--Greyeutral500medium);
    border-radius: 5px;
    padding-left: 10px;
}

.btn-support-request{
    background-color: var(--WhiteNeutral);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 16px;
    font-family: 'karla';
    border: 1px solid var(--Greyeutral500medium);
    border-radius: 5px;
    padding-left: 10px;
}

.message-textArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#first-name,
#last-name,
#email
{
    height: 40px;
    border: 1px solid var(--Greyeutral500medium);
    border-radius: 5px;
    cursor: pointer;
}

#general-enquiry,
#support-request{
    height: 40px;
    
}

.consent{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 30px;
}



.btnSubmit{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--GreenPrimary600medium);
    color: var(--WhiteNeutral);
    font-size: 16px;
    font-family: 'karla';
    cursor: pointer;
}

#message{
    height: 175px;
    border-radius: 5px;
}

#general-enquiry,
#support-request{
    cursor: pointer;
}

.error-required{
    /* visibility: hidden; */
}

.error-email{
    /* visibility: hidden; */
}

label{
    font-size: 13px;
}

span{
    font-size: 13px;
}

.btnContainer label{
    font-size: 16px;
}

input[type="checkbox"]{
    cursor: pointer;
}